* {
    margin: 9px;
    padding: 7px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: rgb(2, 2, 4);
}

h1 {
    color: white;
    text-align: center;

}

label {
    color: white;
    font-family: Verdana;
    hover-flow: red;
}
.containerCenter{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.items{
    display: flex;
    flex-direction: row;
}
.inputs{
    display: flex;
}
 
form{
    display: flex;
    flex-direction: column;
}
ul{
    background-color: white;
    width: 100%
}
li{
    flex-direction: row;
    justify-content: center;
}