* {
    margin: 9px;
    padding: 7px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: rgb(233, 197, 197);
}

h1 {
    color: black;
    text-align: center;
}

label {
    color: black;
    font-family: Verdana;
}